---
import Main from "../layouts/main.astro";

import { getCollection } from "astro:content";
const assignments = await getCollection("a");
---

<Main title={import.meta.env.FNAME + "'s School Portal"}>
  <p class="p-2">
    You can see all the asignents for {import.meta.env.FNAME + "'s"} school asignments

    <ul>
      {
        assignments.map((entry) => (
          <li>
            <a href={"a/" + entry.slug}>
              {entry.data.date.toDateString()} - {entry.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </p>
</Main>
