---
import Main from "../layouts/main.astro";

import { getCollection } from "astro:content";
const assignments = await getCollection("a");
---

<Main title={import.meta.env.FNAME + "'s School Portal"}>
  <p class="p-2 pb-8">
    You can see all the asignents for {import.meta.env.FNAME} below.
  </p>

  <h2 class="text-2xl p-3">Assignments:</h2>
  <ul>
    {
      assignments.map((entry) => (
        <li class="list-disc">
          <a
            href={"a/" + entry.slug}
            class="text-blue hover:text-green hover:underline"
          >
            {entry.data.date.toDateString()} - {entry.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</Main>
