---
import Main from "../../layouts/main.astro";
import Prose from "../../layouts/prose.astro";

import { getCollection } from "astro:content";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const assignments = await getCollection("a");
  return assignments.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Main title={entry.data.title}>
  <h2 class="text-xl text-subtext1">{entry.data.date.toDateString()}</h2>

  <hr class="h-px w-2/6 my-8 border-surface0" />

  <Prose>
    <Content />
  </Prose>
</Main>
