---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="latte dark:macchiato bg-base">
    <a href="/" class="absolute top-4 left-4" title="Home">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-8 w-8 text-subtext1"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
      </svg>
    </a>
    <main
      class="flex flex-col items-center p-4 text-text"
      style="height: 97vh;"
    >
      <h1 class="text-4xl p-6">
        {title}
      </h1>

      <slot />
    </main>
    <footer>
      <p class="text-subtext0 text-center pb-4">
        &copy; 2024 Kieran Klukas. All rights reserved.
      </p>
    </footer>
  </body>
</html>
