<div
  class="prose dark:prose-invert
  prose-h1:font-bold prose-h1:text-xl
  prose-a:text-blue prose-a:hover:text-green prose-a:hover:underline prose-p:text-justify prose-img:rounded-xl
  prose-headings:underline"
>
  <slot />
</div>
